.header_img {
    height: 500px;
    background-image: url('../../../public//pix.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(20, 20, 20, 0.6);
    padding-bottom: 30px;
}

.showcase-top {
    position: relative;
    height: 90px;
    color: white;
}

@media screen and (max-width: 600px) {
    .header_img {
        height: inherit;
    }
}